{% extends 'base.html.twig' %}

{% block title %}Create Event{% endblock %}

{% block body %}
          <div class="container">
        <h1 class="text-center my-4">Create a New Event</h1>
        {# Formulaire avec un thème naturel #}
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group">
                {{ form_label(form.titre, 'Title', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.titre) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.dateDebut, 'Start Date', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                   {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.dateDebut) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.dateFin, 'End Date', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                   {{ form_widget(form.dateFin, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.dateFin) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.lieu, 'Location', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                   {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.lieu) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.statut, 'Status', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.statut, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.statut) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.categorie, 'Category', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                   {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.categorie) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn">Create Event</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
