{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdQ</th>
                <th>Question_text</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.idQ }}</td>
                <td>{{ question.questionText }}</td>
                <td>{{ question.createdAt ? question.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_question_show', {'idQ': question.idQ}) }}">show</a>
                    <a href="{{ path('app_question_edit', {'idQ': question.idQ}) }}">edit</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_question_new') }}">Create new</a>
{% endblock %}
