{% extends 'index.html.twig' %}

{% block body %}
    <h2>Créer un nouvel article</h2>
    
    {{ form_start(form) }}
    
        <div>
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        
        <div>
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
        </div>
        
        <button type="submit">Ajouter</button>
        
    
    {{ form_end(form) }}
{% endblock %}
