{% extends 'base.html.twig' %}
{% block body %}
	<div class="page">
		<div class="page-main">
			<!-- Header Menu Area Start -->
			<div class="header">
				<div class="container-fluid">
					<div class="d-flex mobile-menu-check justify-content-between">
						<a class="admin-logo" href="https://cleandemo.geniusocean.net/geniuscart2" target="_blank">
							<img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/1730281140Blackpng.png" alt="">
						</a>
						<div class="menu-toggle-button">
							<a class="nav-link" href="javascript:;" id="sidebarCollapse">
								<div class="my-toggl-icon">
									<span class="bar1"></span>
									<span class="bar2"></span>
									<span class="bar3"></span>
								</div>
							</a>
						</div>

						<div class="right-eliment">
							<ul class="list">
								<input type="hidden" id="all_notf_count" value="https://cleandemo.geniusocean.net/geniuscart2/admin/all/notf/count">
								<li class="bell-area">
									<a class="dropdown-toggle-1" target="_blank" href="https://cleandemo.geniusocean.net/geniuscart2">
										<i class="fas fa-globe-americas"></i>
									</a>
								</li>

								<li class="bell-area">
									<a id="notf_conv" class="dropdown-toggle-1" href="javascript:;">
										<i class="far fa-envelope"></i>
										<span id="conv-notf-count">0</span>
									</a>
									<div class="dropdown-menu">
										<div class="dropdownmenu-wrapper" data-href="https://cleandemo.geniusocean.net/geniuscart2/admin/conv/notf/show"
											id="conv-notf-show">
										</div>
									</div>
								</li>

								<li class="bell-area">
									<a id="notf_product" class="dropdown-toggle-1" href="javascript:;">
										<i class="icofont-cart"></i>
										<span id="product-notf-count">0</span>
									</a>
									<div class="dropdown-menu">
										<div class="dropdownmenu-wrapper" data-href="https://cleandemo.geniusocean.net/geniuscart2/admin/product/notf/show"
											id="product-notf-show">
										</div>
									</div>
								</li>

								<li class="bell-area">
									<a id="notf_user" class="dropdown-toggle-1" href="javascript:;">
										<i class="far fa-user"></i>
										<span id="user-notf-count">0</span>
									</a>
									<div class="dropdown-menu">
										<div class="dropdownmenu-wrapper" data-href="https://cleandemo.geniusocean.net/geniuscart2/admin/user/notf/show"
											id="user-notf-show">
										</div>
									</div>
								</li>

								<li class="bell-area">
									<a id="notf_order" class="dropdown-toggle-1" href="javascript:;">
										<i class="far fa-newspaper"></i>
										<span id="order-notf-count">1</span>
									</a>
									<div class="dropdown-menu">
										<div class="dropdownmenu-wrapper" data-href="https://cleandemo.geniusocean.net/geniuscart2/admin/order/notf/show"
											id="order-notf-show">
										</div>
									</div>
								</li>

								<li class="login-profile-area">
									<a class="dropdown-toggle-1" href="javascript:;">
										<div class="user-img">
											<img src="https://cleandemo.geniusocean.net/geniuscart2/assets/images/admins/1556780563user.png"
												alt="">
										</div>
									</a>
									<div class="dropdown-menu">
										<div class="dropdownmenu-wrapper">
											<ul>
												<h5>Welcome!</h5>
												<li>
													<a href="https://cleandemo.geniusocean.net/geniuscart2/admin/profile"><i class="fas fa-user"></i>
														Edit Profile</a>
												</li>
												<li>
													<a href="https://cleandemo.geniusocean.net/geniuscart2/admin/password"><i class="fas fa-cog"></i>
														Change Password</a>
												</li>
												<li>
													<a href="https://cleandemo.geniusocean.net/geniuscart2/admin/logout"><i
															class="fas fa-power-off"></i> Logout</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Header Menu Area End -->
			<div class="wrapper">
				<!-- Side Menu Area Start -->
				<nav id="sidebar" class="nav-sidebar">
					<ul class="list-unstyled components" id="accordion">
						<li>
							<a href="https://cleandemo.geniusocean.net/geniuscart2/admin" class="wave-effect"><i
									class="fa fa-home mr-2"></i>Dashboard</a>
						</li>
													<li>
    <a href="#order" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false"><i
            class="fas fa-hand-holding-usd"></i>Orders</a>
    <ul class="collapse list-unstyled" id="order" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/orders"> All Orders</a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/orders?status=pending"> Pending Orders</a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/orders?status=processing"> Processing Orders</a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/orders?status=completed"> Completed Orders</a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/orders?status=declined"> Declined Orders</a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/order/create"> Pos</a>
        </li>

    </ul>
</li>

<li>
    <a href="#menu1" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-flag"></i>Manage Country
    </a>
    <ul class="collapse list-unstyled" id="menu1" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/manage/country"><span>Country</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/manage/country/tax"><span>Manage Tax</span></a>
        </li>
    </ul>
</li>



<li>
    <a href="#income" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false"><i
            class="fas fa-hand-holding-usd"></i>Total Earning</a>
    <ul class="collapse list-unstyled" id="income" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/tax/calculate"> Tax Calculate</a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/subscription/earning"> Subscription Earning</a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/withdraw/earning"> Withdraw Earning</a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/commission/earning"> Commission Earning</a>
        </li>

    </ul>
</li>


<li>
    <a href="#menu5" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false"><i
            class="fas fa-sitemap"></i>Manage Categories</a>
    <ul class="collapse list-unstyled
        "
        id="menu5" data-parent="#accordion">
        <li class="">
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/category"><span>Main Category</span></a>
        </li>
        <li class="">
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/subcategory"><span>Sub Category</span></a>
        </li>
        <li class="">
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/childcategory"><span>Child Category</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#menu2" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-cart"></i>Products
    </a>
    <ul class="collapse list-unstyled" id="menu2" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/types"><span>Add New Product</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products"><span>All Products</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/deactive"><span>Deactivated Product</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/catalogs"><span>Product Catalogs</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/product-settings"><span>Product Settings</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#affiliateprod" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-opencart"></i>Affiliate Products
    </a>
    <ul class="collapse list-unstyled" id="affiliateprod" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/import/create-product"><span>Add Affiliate Product</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/import/index"><span>All Affiliate Products</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/import"><i class="fas fa-upload"></i>Bulk Product Upload</a>
</li>

<li>
    <a href="#menu4" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-speech-comments"></i>Product Discussion
    </a>
    <ul class="collapse list-unstyled" id="menu4" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/ratings"><span>Product Reviews</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/reports"><span>Reports</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/coupon" class=" wave-effect"><i
            class="fas fa-percentage"></i>Set
                                Coupons</a>
</li>

                        <li class="active-menu">
                            <a href="#menu3" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="true">
                                <i class="icofont-user"></i> Customers
                            </a>
                            <ul class="collapse list-unstyled show" id="menu3" data-parent="#accordion">
                                <li>
                                    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/users"><span>Customers List</span></a>
                                </li>
                                <li class="active">
                                    <a href="{{ path('app_reclamation_index') }}"><span>Customers Complaints</span></a>
                                </li>
                                <li>
                                    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/users/withdraws"><span>Withdraws</span></a>
                                </li>
                                <li>
                                    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/user/default/image"><span>Customer Default Image</span></a>
                                </li>
                            </ul>
                        </li>




<li>
    <a href="#riders" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-users"></i>Riders
    </a>
    <ul class="collapse list-unstyled" id="riders" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/riders"><span>Rider List</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/riders/withdraws"><span>Withdraws</span></a>
        </li>

    </ul>
</li>

<li>
    <a href="#customerDeposit" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-money"></i>Customer Deposits
    </a>
    <ul class="collapse list-unstyled" id="customerDeposit" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/users/deposits/all"><span>Completed Deposits</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/users/deposits/pending"><span>Pending Deposits</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/users/transactions"><span>Transactions</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#vendor" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-ui-user-group"></i>Vendors
    </a>
    <ul class="collapse list-unstyled" id="vendor" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/vendors"><span>Vendors List</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/vendors/withdraws"><span>Withdraws</span></a>
        </li>

    </ul>
</li>

<li>
    <a href="#vendorSubs" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-user-suited"></i>Vendor Subscriptions
    </a>
    <ul class="collapse list-unstyled" id="vendorSubs" data-parent="#accordion">
        <li>
            <a
                href="https://cleandemo.geniusocean.net/geniuscart2/admin/vendors/subs/completed"><span>Completed Subscriptions</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/vendors/subs/pending"><span>Pending Subscriptions</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#vendor1" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="icofont-verification-check"></i>Vendor Verifications
    </a>
    <ul class="collapse list-unstyled" id="vendor1" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/verificatons/all"><span>All Verifications</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/verificatons/pending"><span>Pending Verifications</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/subscription" class=" wave-effect"><i
            class="fas fa-dollar-sign"></i>Vendor Subscription Plans</a>
</li>

<li>
    <a href="#msg" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-fw fa-newspaper"></i>Messages
    </a>
    <ul class="collapse list-unstyled" id="msg" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/tickets"><span>Tickets</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/disputes"><span>Disputes</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#blog" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-fw fa-newspaper"></i>Blog
    </a>
    <ul class="collapse list-unstyled" id="blog" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/blog/category"><span>Categories</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/blog"><span>Posts</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/blog/blog-settings"><span>Blog Settings</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#general" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-cogs"></i>General Settings
    </a>
    <ul class="collapse list-unstyled" id="general" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/logo"><span>Logo</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/favicon"><span>Favicon</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/shipping"><span>Shipping Methods</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/package"><span>Packagings</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/pickup"><span>Pickup Locations</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/contents"><span>Website Contents</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/affilate"><span>Affiliate Program</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/popup"><span>Popup Banner</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/breadcrumb"><span>Breadcrumb Banner</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/error-banner"><span>Error Banner</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/general-settings/maintenance"><span>Website Maintenance</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#homepage" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-edit"></i>Home Page Settings
    </a>
    <ul class="collapse list-unstyled" id="homepage" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/home-page-settings"><span>Home Pages</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/slider"><span>Sliders</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/arrival"><span>Best Month Offer</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/deal/of/day"><span>Deal of the day</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/service"><span>Services</span></a>
        </li>


        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/partner"><span>Partners</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/page-settings/customize"><span>Home Page Customization</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#menu" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-file-code"></i>Menu Page Settings
    </a>
    <ul class="collapse list-unstyled" id="menu" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/faq"><span>FAQ Page</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/page-settings/contact"><span>Contact Us Page</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/page"><span>Other Pages</span></a>
        </li>

        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/menu/links"><span>Customize Menu Links</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#emails" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-at"></i>Email Settings
    </a>
    <ul class="collapse list-unstyled" id="emails" data-parent="#accordion">
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/email-templates"><span>Email Template</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/email-config"><span>Email Configurations</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/groupemail"><span>Group Email</span></a></li>
    </ul>
</li>




<li>
    <a href="#payments" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-file-code"></i>Payment Settings
    </a>
    <ul class="collapse list-unstyled" id="payments" data-parent="#accordion">
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/payment-informations"><span>Payment Information</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/paymentgateway"><span>Payment Gateways</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/currency"><span>Currencies</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/rewards"><span>Reward Information</span></a></li>
    </ul>
</li>

<li>
    <a href="#socials" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-paper-plane"></i>Social Settings
    </a>
    <ul class="collapse list-unstyled" id="socials" data-parent="#accordion">
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/social-link"><span>Social Links</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/social/facebook"><span>Facebook Login</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/social/google"><span>Google Login</span></a></li>
    </ul>
</li>

<li>
    <a href="#langs" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-language"></i>Language Settings
    </a>
    <ul class="collapse list-unstyled" id="langs" data-parent="#accordion">
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/languages"><span>Website Language</span></a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/adminlanguages"><span>Admin Panel Language</span></a></li>

    </ul>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/fonts" class=" wave-effect"><i
            class="fa fa-font"></i>Font Option</a>
</li>

<li>
    <a href="#seoTools" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-wrench"></i>SEO Tools
    </a>
    <ul class="collapse list-unstyled" id="seoTools" data-parent="#accordion">
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/products/popular/30"><span>Popular Products</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/seotools/analytics"><span>Google Analytics</span></a>
        </li>
        <li>
            <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/seotools/keywords"><span>Website Meta Keywords</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/staff" class=" wave-effect"><i
            class="fas fa-user-secret"></i>Manage
                                Staffs</a>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/subscribers" class=" wave-effect"><i
            class="fas fa-users-cog mr-2"></i>Subscribers</a>
</li>


<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/role" class=" wave-effect"><i
            class="fas fa-user-tag"></i>Manage Roles</a>
</li>

<li>
    <a href="https://cleandemo.geniusocean.net/geniuscart2/admin/cache/clear" class=" wave-effect"><i
            class="fas fa-sync"></i>Clear Cache</a>
</li>


<li>
    <a href="#sactive" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
        <i class="fas fa-cog"></i>System Activation
    </a>
    <ul class="collapse list-unstyled" id="sactive" data-parent="#accordion">

        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/activation"> Activation</a></li>
        <li><a href="https://cleandemo.geniusocean.net/geniuscart2/admin/generate/backup"> Generate Backup</a></li>
    </ul>
</li>

							<li class="mt-3 text-dark text-center">
							Version 4.0							</li>
											</ul>
				</nav>

				<!-- Main Content Area Start -->
                <div class="content-area">
                    <!-- ✅ Statistiques sous forme de Row (au-dessus du tableau et du filtre) -->
                    <div class="row text-center mt-4">
                        <div class="col-md-3">
                            <div class="card bg-primary text-white p-3">
                                <h5>Catégorie la plus signalée</h5>
                                <h4>{{ mostReportedCategory ?: 'N/A' }}</h4>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-success text-white p-3">
                                <h5>Réclamations Résolues</h5>
                                <h4>{{ resolvedCount }}</h4>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-warning text-dark p-3">
                                <h5>Réclamations en Cours</h5>
                                <h4>{{ inProgressCount }}</h4>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card bg-info text-white p-3">
                                <h5>Utilisateur le plus actif</h5>
                                <h4>{{ topUser ?: 'Aucun utilisateur' }}</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card bg-danger text-white p-3">
                                <h5>Pic de Réclamations</h5>
                                <h4>{{ peakDate ? peakDate|date('Y-m-d'): 'N/A' }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <!-- Formulaire de filtrage -->
                    <form method="GET" action="{{ path('app_reponse_index') }}" class="mb-4">
                        <div class="row">
                            <!-- Barre de recherche par Username -->
                            <div class="col-md-4">
                                <input type="text" name="search" value="{{ app.request.get('search') }}" class="form-control"
                                       placeholder="Rechercher par username">
                            </div>

                            <!-- Liste de tri -->
                            <div class="col-md-3">
                                <select name="sort" class="form-control">
                                    <option value="">Trier par</option>
                                    <option value="date" {% if app.request.get('sort') == 'date' %}selected{% endif %}>Date</option>
                                    <option value="status" {% if app.request.get('sort') == 'status' %}selected{% endif %}>Statut</option>
                                    <option value="username" {% if app.request.get('sort') == 'username' %}selected{% endif %}>Username</option>
                                </select>
                            </div>

                            <!-- Case à cocher pour le statut -->
                            <div class="col-md-3">
                                <label>
                                    <input type="checkbox" name="status[]" value="En Cours"
                                           {% if 'En Cours' in app.request.get('status', []) %}checked{% endif %}>
                                    En cours
                                </label>
                                <label>
                                    <input type="checkbox" name="status[]" value="Résolue"
                                           {% if 'Résolue' in app.request.get('status', []) %}checked{% endif %}>
                                    Résolue
                                </label>
                            </div>

                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary">Filtrer</button>
                                <a href="{{ path('app_reponse_index') }}" class="btn btn-secondary">Réinitialiser</a>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <h3 class="table-title">Complaints</h3>
                        <table class="table custom-table">
                            <thead>
                            <tr>
                                <th>N°</th>
                                <th>User Name</th>
                                <th>Date</th>
                                <th>Subject</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set compteur = 1 %}
                            {% for reclamation in reclamations %}
                                <tr>
                                    <td>{{ compteur }}</td>
                                    <td>{{ reclamation.user.name }}</td>  {# Display User Name #}
                                    <td>{{ reclamation.dateReclamation|date('d M Y') }}</td>
                                    <td>{{ reclamation.objet }}</td>
                                    <td>{{ reclamation.category }}</td>
                                    <td>
                        <span class="badge
                            {% if reclamation.status == 'Résolue' %}
                                badge-success
                            {% else %}
                                badge-danger
                            {% endif %}">
                            {{ reclamation.status}}
                        </span>
                                    </td>
                                    <td class="text-center">
                                        <a href="{{ path('app_reponse_new', {'id_reclamation': reclamation.id}) }}" class="action-btn respond-btn" title="Respond">
                                            <i class="fas fa-reply"></i> Respond
                                        </a>
                                    </td>
                                </tr>
                                {% set compteur = compteur + 1 %}
                            {% else %}
                                <tr>
                                    <td colspan="6" class="text-center">No complaints found.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <h3>Responses</h3>
                    <table class="table">
                        <thead>
                        <tr class="text-center">
                            <th>N°</th>
                            <th>Date</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set compteur = 1 %}
                        {% for response in responses %}
                            <tr class="text-center">
                                <td>{{ compteur }}</td>
                                <td>{{ response.dateReponse |date('d M Y') }}</td>
                                <td class="text-center">
                                    <a href="{{ path('app_reponse_show', {'id': response.id}) }}" class="btn btn-primary btn-sm">
                                        <i class="fas fa-eye"></i> View
                                    </a>
                                    <a href="{{ path('app_reponse_delete', {'id': response.id}) }}" class="btn btn-warning btn-sm">
                                        <i class="fas fa-delete-left"></i> Delete
                                    </a>
                                </td>
                            </tr>
                            {%set compteur= compteur +1  %}
                        {% else %}
                            <tr>
                                <td colspan="3">No responses found</td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                    <!-- Main Content Area End -->
			    </div>
		</div>
	</div>
{% endblock %}